body,html{
	padding:0px;
	margin:0px;
	font-family:verdana;
	font-size:12px;
	height:100%;
}

html {
	/*background: linear-gradient(top, #DDD, #999);
	background: -o-linear-gradient(top, #DDD, #999);
	background: -moz-linear-gradient(top, #DDD, #999);*/
	background: url('bg.png');
}

/** ------------------------------ COMBINED ------------------------------ */

.box .header, .epg_entry_header		{border-style: solid; border-width: 14px 14px 1px 14px; border-image: url(boxUpper.png) fill 14 14 1 14 repeat stretch; -o-border-image: url(boxUpper.png) 14 14 1 14 repeat stretch; -webkit-border-image: url(boxUpper.png) 14 14 1 14 repeat stretch; padding: 0px 0px 3px 0px;}
.epg_entry:hover .epg_entry_header	{border-style: solid; border-image: url(boxUpperBlue.png) fill 14 14 1 14 repeat stretch; -o-border-image: url(boxUpperBlue.png) 14 14 1 14 repeat stretch; -webkit-border-image: url(boxUpperBlue.png) 14 14 1 14 repeat stretch;}

.epg_day							{border-style: solid; border-width: 14px 14px 1px 14px; border-image: url(boxUpperEnd.png) fill 14 14 1 14 repeat stretch; -o-border-image: url(boxUpperEnd.png) 14 14 1 14 repeat stretch; -webkit-border-image: url(boxUpperEnd.png) 14 14 1 14 repeat stretch;}

.box .content						{border-style: solid; border-width: 1px 9px 1px 9px; border-image: url(boxMain.png) fill 1 9 1 9 repeat stretch; -o-border-image: url(boxMain.png) 1 9 1 9 repeat stretch; -webkit-border-image: url(boxMain.png) 1 9 1 9 repeat stretch;}
.epg_entry_content, #title			{border-style: solid; border-width: 1px 12px 9px 12px; border-image: url(boxMainEnd.png) fill 1 12 9 12 repeat stretch; -o-border-image: url(boxMainEnd.png) 1 12 9 12 repeat stretch; -webkit-border-image: url(boxMainEnd.png) 1 12 9 12 repeat stretch;}

/** ------------------------------ PAGE LAYOUT ------------------------------ */

#title {
	margin:0px;
	color:#fff;
	padding:3px 5px 5px 5px;
	font-style:italic;
	border-left: none;
	border-right: none;
	position:relative;
	z-index:2;
}

.dropout {
	border-width: 1px 14px 14px 14px;
	border-style: solid; border-image: url(boxLower.png) fill 1 14 14 14 repeat stretch;
	-o-border-image: url(boxLower.png) 1 14 14 14 repeat stretch;
	-webkit-border-image: url(boxLower.png) 1 14 14 14 repeat stretch;
	padding: 5px 0px 0px 0px;
	position:fixed;
	top:25px;
	z-index:1;
	left:200px;
}
.dropout table						{margin:-3px;}
.dropout table td					{padding:1px;}
.dropout table td:nth-child(2n+1)	{font-weight: bold;}
.dropout table td:nth-child(2n+0)	{padding-right:10px;}
.dropout select						{max-width:120px;}
.dropout input						{max-width:120px;}

.rssLink		{float:right; margin-top:3px; margin-right:1px;}

#title_content {
	float:right;
}

#main {
	position:absolute;
	top:35px;
	left:190px;
	bottom:0px;
    right:0px;
	padding:10px;
	overflow-y:scroll;
}

.top_splitter	{display:inline-block; height:15px; width:0px; border:1px inset #444; margin:-3px 2px;}
.tbl_splitter	{display:inline-block; height:22px; width:0px; border:1px inset #444; padding:0px; margin:0px 2px;}

a				{color:#FFF; text-decoration:none;}

/** ------------------------------ INPUT ELEMENTS ------------------------------ */

input[type=text], select {
	border:1px inset #666;
}

input[type=button], input[type=submit] {
	padding:0px 5px;
	font-size:11px;
}




/** ------------------------------ MENU ------------------------------ */

#menu					{position:absolute; top:75px; left:10px; width:170px;}
#menu_title				{font-style:italic; font-weight:bold;}
#menu_footer			{}
#menu_content			{padding:0px;}
#menu  .menuEntryActive	{background: rgba(255,255,255,0.15); font-weight: bold;}
#menu a, #menu a:hover, #menu .menuSub {
	border:1px solid;
	border-left: none;
	border-right: none;
	border-top-color: rgba(255,255,255,0.25);
	border-bottom-color: rgba(0,0,0,0.3);
	display:block;
	padding:5px;
	padding-left:8px;
	color:#fff;
	text-decoration:none;
}
#menu .menuSub {
	background: linear-gradient(to bottom, #AAFFAA, #88CC88);
	background: -o-linear-gradient(top, #AAFFAA, #88CC88);
	background: -moz-linear-gradient(top, #AAFFAA, #88CC88);
	padding: 2px 2px;
	color:#000;
	font-size:10px;
}
#menu a:hover	{background: rgba(255,255,255,0.15);}
#menu img		{float:left; margin-right:5px; margin-top:-1px;}

#menu input		{width:149px;}
.txtSearchDis	{font-style:italic; color:#666;}
.txtSearchAct	{font-style:normal; color:#000;}

/** ------------------------------ BOXES ------------------------------ */

.box					{margin:0px; display:table; margin:0 auto;}
.box .header			{font-weight:bold; font-style:italic; }
.box .footer			{border-width: 1px 14px 14px 14px; border-style: solid; border-image: url(boxLower.png) fill 1 14 14 14 repeat stretch; -o-border-image: url(boxLower.png) 1 14 14 14 repeat stretch; -webkit-border-image: url(boxLower.png) 1 14 14 14 repeat stretch; text-align:right; padding: 5px 0px 0px 0px;}
.box .content			{color:#FFF; padding:0px;}
.box a					{color:#CCC;}


/** ------------------------------ EPG DATA ------------------------------ */

.epg_entry				{clear:both;}
.epg_entry a			{color:#000;}
.epg_entry_header		{font-weight:bold; color:#000;}
.epg_entry_content		{color:#fff;}
.epg_entry_channel		{text-align:right; font-weight:normal;}
.epg_entry_desc_short	{padding:2px;}
.epg_entry_desc_long	{border-top:1px solid #BBB; padding-top:3px; margin-top:5px; color:#DDD; font-size:11px;}
.epg_entry_title		{display:inline; float:left;}
.epg_entry_genre		{display:inline; float:left; font-weight:normal;}
.epg_entry_imgs			{display:inline; float:left; margin-top:-1px;}
.epg_entry_options		{float:right;}
.epg_entry_time			{float:left; padding-top:1px; padding-left:1px; padding-right:15px; font-size: 9px;}
.epg_entry_imdb			{border-top:1px solid #BBB; padding-top:3px; margin-top:5px; color:#DDD; font-size:11px;}
.epg_entry_imdb a		{color:#fff;}


/**.epg_entry:hover .epg_entry_content		{background: linear-gradient(top, #999, #555); background: -o-linear-gradient(top, #999, #555); background: -moz-linear-gradient(top, #999, #555);}*/

.epg_day					{padding:0px 0px 10px 0px; font-weight:bold; color:#000; margin-top:10px;}

.epg_timers_tbl				{border-collapse : collapse;}
.epg_timers_tbl th			{padding:5px; border-bottom:1px solid #CCC; background-color:#AAA;}
.epg_timers_tbl td			{padding:5px;}
.epg_timers_tbl tr:hover	{background-color:#999;}


.epg_timeline th				{color: #fff;}
.epg_timeline th:first-child	{text-align:right;}
.epg_timeline td:first-child	{text-align:right; padding-right:5px;}
.epg_timeline tr:hover			{background-color:#999; border-radius:5px;}

.epg_timeline_entry			{border:1px outset #BBB; border-radius:4px; display:inline-block; box-sizing:border-box; -moz-box-sizing:border-box; white-space: nowrap; overflow: hidden; padding:3px; font-size:10px; color:#000; background: linear-gradient(to bottom, #FFFFFF, #DDDDDD); background: -o-linear-gradient(top, #FFFFFF, #DDDDDD); background: -moz-linear-gradient(top, #FFFFFF, #DDDDDD); background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DDDDDD));}
.epg_timeline_entry_act		{border:1px outset #BBB; border-radius:4px; display:inline-block; box-sizing:border-box; -moz-box-sizing:border-box; white-space: nowrap; overflow: hidden; padding:3px; font-size:10px; color:#000; background: linear-gradient(to bottom, #AAFFAA, #88CC88); background: -o-linear-gradient(top, #AAFFAA, #88CC88); background: -moz-linear-gradient(top, #AAFFAA, #88CC88); background-image: -webkit-gradient(linear, left top, left bottom, from(#AAFFAA), to(#88CC88));}
.epg_timeline_cur_time		{width:0px; border-left:1px solid #CCC; border-right:1px solid #444; height:100%; position:fixed;}
.epg_timeline_entry a		{color:#000;}
.epg_timeline_entry_act a	{color:#000;}

.epg_schedule				{position:relative; }
.epg_schedule_channel		{position:absolute; box-sizing:border-box; -moz-box-sizing:border-box; width:100%; padding-top:5px; padding-bottom:7px; background: linear-gradient(to bottom, #EEE, #CCC); background: -o-linear-gradient(top, #EEE, #CCC); background: -moz-linear-gradient(top, #EEE, #CCC); color:#000; font-style:italic; padding-left:5px;}
.epg_schedule_channels		{position:absolute; display:block; width:100%;}
.epg_schedule_entries		{position:relative; display:block; overflow-x:scroll;}
.epg_schedule_slot_day		{position:absolute; border:1px outset #666; box-sizing:border-box; -moz-box-sizing:border-box; background: -o-linear-gradient(top, #888, #444); height:15px; font-size:10px; text-align:center; color:#FFF; top:0px;}
.epg_schedule_slot_hour		{position:absolute; border:1px outset #666; box-sizing:border-box; -moz-box-sizing:border-box; background: -o-linear-gradient(top, #EEE, #CCC); height:15px; font-size:10px; text-align:center; color:#000; top:16px;}
.epg_schedule_entry			{position:absolute; padding:1px; border:1px outset #666; background-color:#fff; color:#333; font-size:10px; white-space: nowrap; overflow: hidden; box-shadow:1px 1px 3px #444; border-radius:5px;}
.conflicts					{background-color:#FF0000;}
.recording					{background-color:#FFCCCC; text-decoration:blink;}

/** ------------------------------ CHANNELS ------------------------------ */

.channels_tbl			{border-collapse : collapse;}
.channels_tbl th		{padding:5px; border-bottom:1px solid #CCC; background-color:#AAA; text-align:left;}
.channels_tbl td		{padding:0px 5px;}
.channels_tbl tr:hover	{background-color:#999;}



/** ------------------------------ PROGRESS BARS ------------------------------ */

.progressbar			{border: 1px solid; border-left-color: rgba(0,0,0,0.3);border-top-color: rgba(0,0,0,0.3);border-bottom-color: rgba(255,255,255,0.25);border-right-color: rgba(255,255,255,0.25);}
.progressbar_bar		{display:inline-block; background: linear-gradient(to bottom, #CCCCFF, #6666AA); background: -o-linear-gradient(top, #CCCCFF, #6666AA); background: -moz-linear-gradient(top, #CCCCFF, #6666AA); background: -webkit-gradient(linear, left top, left bottom, from(#CCCCFF), to(#6666AA));}

.bar0					{height:5px; display:inline-block; width:74px;}
.bar0_bar				{height:5px; display:inline-block; background: linear-gradient(to bottom, #CCCCFF, #6666AA); background: -o-linear-gradient(top, #CCCCFF, #6666AA); background: -moz-linear-gradient(top, #CCCCFF, #6666AA); background: -webkit-gradient(linear, left top, left bottom, from(#CCCCFF), to(#6666AA));}

.bar1					{box-sizing:border-box; -moz-box-sizing:border-box; border-radius:9px; width:200px; height:20px; display:inline-block;}
.bar1_bar				{box-sizing:border-box; -moz-box-sizing:border-box; border-radius:9px; padding:0px; height:18px; border:1px outset #CCCCFF; text-align:center; text-shadow:1px 1px 2px #000;}

.barDiskFree			{box-sizing:border-box; -moz-box-sizing:border-box; border-radius:9px; width:200px; height:16px; display:inline-block;}
.barDiskFree_bar		{box-sizing:border-box; -moz-box-sizing:border-box; border-radius:9px; padding:0px; height:14px; font-size:10px; border:1px outset #CCCCFF; text-align:center; text-shadow:1px 1px 2px #000;}

.code					{white-space: pre; font-family:courier new; margin:1px;}



/** ------------------------------ TOOLTIP ------------------------------ */
.tooltip				{position:absolute; z-index:255; border:1px outset #666; background-color:#FFFFFF; padding:3px; border-radius:5px; background: linear-gradient(to bottom, #DDDDFF, #8888BB); background: -o-linear-gradient(top, #DDDDFF, #8888BB); background: -moz-linear-gradient(top, #DDDDFF, #8888BB); box-shadow: 1px 1px 5px #444; max-width:450px;}


/** ------------------------------ DASHBOARD ------------------------------ */
.dashboard				{width:800px; margin:0 auto; }
.dashboardTile			{float:left;}
.tile2x1				{width:400px;}
.tile4x1				{width:800px;}
